# Pass, Continue, Break, Try

1. `Pass`: Allows you to handle the condition without the loop being impacted in any way
2. `Continue`: The current iteration of the loop will be disrupted, but the program will return to the top of the loop
3. `Break`: The while–loop will exit
4. `Try`: This command lets you test a block of code for errors.

## Pass

In [54]:
for number in range(10):

    print('Number is ' + str(number))

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9

In [67]:
a = 2
if a == 1:
    print(a)

In [72]:
primos = [2 , 3, 5, 7]

In [78]:
for number in range(10):
    
    if (number in primos):
        # comment
        pass

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number')

    print('Number is ' + str(number), '\n')

print('Out of loop')

Different number
Number is 0

Different number
Number is 1

Number is 2

Number is 3

Different number
Number is 4

Number is 5

Different number
Number is 6

Number is 7

Different number
Number is 8

Different number
Number is 9

Out of loop

## Continue

In [68]:
for number in range(10):
    if number == 5:
        # comment
        continue

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number')
    
    print('Number is ' + str(number), '\n')

print('Out of loop')

Different number
Number is 0

Different number
Number is 1

Different number
Number is 2

This number is 3
Number is 3

Different number
Number is 4

Different number
Number is 6

Different number
Number is 7

Different number
Number is 8

Different number
Number is 9

Out of loop

## Break

In [83]:
d

NameError: name 'd' is not defined

In [84]:
for number in range(10):
    if number == 5:
        # comment
        raise Exception('Hola')

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number')

    print('Number is ' + str(number))

print('Out of loop')

Different number
Number is 0
Different number
Number is 1
Different number
Number is 2
This number is 3
Number is 3
Different number
Number is 4

Exception: Hola

## Try

`except`: Run a code if an error occurs.

In [85]:
x = 'jola'

In [88]:
print(x + 4)

TypeError: can only concatenate str (not "int") to str

In [90]:
try:
    print(x + 4)
except TypeError:
    print("Es un error tipo TypeError")
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

Es un error tipo TypeError

`else`: The code will be executed whether there is no error.

In [103]:
x = 6

In [108]:
try:
    print(x + 4)
except:
    print("Something went wrong")
    #print( 5 + 4)
else:
    print("Nothing went wrong")
    
    try:
        print( x + "2")    
    except:
        print("error 2")

10
Nothing went wrong
error 2

`finally`: The code will be executed does no matter whether or not the try raises an exception.

In [113]:
x = 6

In [114]:
try:
    print(x + 4)
except:
    print("Something went wrong")
finally:
    print( f'el elemento {x} ya paso por este filtro')

10
el elemento 6 ya paso por este filtro

In [117]:
s

NameError: name 's' is not defined

In [124]:
s = 16
if s:
    print(s)

16

# Loops
We will study the 2 types of loops in python. A loop is a function that allows you to iteratively perform tasks a certain number of times (for loop) or as long as a condition is true (while loop).

## While Loop
While loop is used to repeat code as long as the condition is true. When the logical expression is false, the code will finish executing. [More Info](https://python101.pythonlibrary.org/chapter5_loops.html)
<img src="../images\while_loop.jpg">

See the structure: <br>

while <font color='green'>condition</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code 1<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>break code</font><br><br>

The break code is an expression that allows the logical condition to be false at some point, because if not, the code will continue to execute infinitely.

In [127]:
i = 1

# condition  "i < 6"
while i < 6:
    
    print(i)
    
    # break code, 
    i += 1 
    # ==> i = i + 1

1
2
3
4
5

### Training
1. Print $2^n$, but the result is less than 10,000.

In [131]:
x = 2
while x < 10000:
    print(x)
    
    #break code
    x = 2*x

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192

2. A teacher has 100 apples for his entire class. The first student took four apples, and the next student always took more apples than the previous one. How many children have apples?

In [137]:
apples = 100
last_st = 4
i = 1
while apples > last_st:
    
    # Code
    apples = apples - last_st
    last_st += 1

    # Break code
    i += 1
    # What is the format function for
    print ('{} children have apples'.format (i))

# print ('{} children have apples'.format (i))

2 children have apples
3 children have apples
4 children have apples
5 children have apples
6 children have apples
7 children have apples
8 children have apples
9 children have apples
10 children have apples
11 children have apples
12 children have apples

In [134]:
next_st

24

3. Print all elements of an array.

In [138]:
import numpy as np

edad = np.array([ 3, 6, 7, 10, 15, 17, 18, 31, 26, 88 , 100, 120, 110])
i = 0

while i < edad.size:
    
    print(edad[i])
    i += 1

3
6
7
10
15
17
18
31
26
88
100
120
110

## Excersice

In [144]:
quarantine_days = 1
stress_level = 2


while quarantine_days <= 40:
    
    print ( f'Quarantine day n° {quarantine_days}. ')
    
    if stress_level> 100:
        print (f'Her family let Maria out on the day {quarantine_days}.')
        stress_level = 1
        break
     
    elif quarantine_days <15:
        
        print ("Maria looks at the peaky blinders and Love alarm")
    
    elif (quarantine_days >= 15) & (quarantine_days <20):
        
        print ("Maria reads THE WORLD OF SOFIA and Cronicas de una muerte anunciada")
    
    elif (quarantine_days >= 20) & (quarantine_days <40):
        print ('Maria builds her Foundation of Analysis I class')
        
    else:
        print ("The lady works out")
    
    print (f'The day number {quarantine_days} of quarantine is over. \n ')
    
    # Days increase
    quarantine_days = quarantine_days + 1
    stress_level = stress_level * 2

print ("Quarantine is over.")

Quarantine day n° 1.
Maria looks at the peaky blinders and Love alarm
The day number 1 of quarantine is over.

Quarantine day n° 2.
Maria looks at the peaky blinders and Love alarm
The day number 2 of quarantine is over.

Quarantine day n° 3.
Maria looks at the peaky blinders and Love alarm
The day number 3 of quarantine is over.

Quarantine day n° 4.
Maria looks at the peaky blinders and Love alarm
The day number 4 of quarantine is over.

Quarantine day n° 5.
Maria looks at the peaky blinders and Love alarm
The day number 5 of quarantine is over.

Quarantine day n° 6.
Maria looks at the peaky blinders and Love alarm
The day number 6 of quarantine is over.

Quarantine day n° 7.
Her family let Maria out on the day 7.
Quarantine is over.

In [157]:
import pandas as pd
data1 = {'names': ['Marcelo', 'Octavio', 'Fredy', 'Felipe', 'Arturo', 'Anzony', 'Finado', 'Alex', 'Anny', 'Yampi'], 
     'age': [23, 25, 36, 78, 90, 32, 200, 24, 12, 18]}
people = pd.DataFrame( data = data1)

In [158]:
people

     names  age
0  Marcelo   23
1  Octavio   25
2    Fredy   36
3   Felipe   78
4   Arturo   90
5   Anzony   32
6   Finado  200
7     Alex   24
8     Anny   12
9    Yampi   18

In [159]:
i = 0
# Vamos a ir fila por fila
nrows = people.age.count()
while i < nrows:
  
    if people['age'][i] > 150:
        print('Ohhh no a phantom')
        break
    
    elif people['age'][i] < 18:
        # Hemos creado una nueva columna y la estamos rellenando
        people.loc[[i], ["pass"]] = "No pass"
    
    else:
        people.loc[[i], ["pass"]] = "Pass"
        
    i += 1

Ohhh no a phantom

In [160]:
people

     names  age  pass
0  Marcelo   23  Pass
1  Octavio   25  Pass
2    Fredy   36  Pass
3   Felipe   78  Pass
4   Arturo   90  Pass
5   Anzony   32  Pass
6   Finado  200   NaN
7     Alex   24   NaN
8     Anny   12   NaN
9    Yampi   18   NaN